<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://github.com/xz/new.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">    <title>SubCaptain</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
</head>
<body>
    <h1>SubCaptain</h1>
    <div>
        {% if user.username %}
            <p>Logged in as: <b>{{user.username}}</b> - 
                <a href="/accounts/logout">Logout</a></p>
        {% endif %}
    </div>
    <div>
    {% block "content" %}

    {% endblock "content" %}
    </div>
</body>
</html>