<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubCaptain</title>
</head>
<body>
    <h1>SubCaptain</h1>
    <div>
        {% if user.username %}
            <p>Logged in as: {{user.username}}
                <a href="/accounts/logout">Logout</a></p>
        {% endif %}
    </div>
    <div>
    {% block "content" %}

    {% endblock "content" %}
    </div>
</body>
</html>