{% extends "budget/base.html" %}

{% block "content" %}
	<a href="/categories">Manage categories</a></p> 

	<h2>Your payments:</h2>
	<p><a href="/payments/new">Add payment</a></p>
	<p>Total price of all subscriptions: <b>{{ total_amount }}</b></p>
	{% regroup recurringpayment_list by category as grouped_list %}
	
	{% for category in grouped_list %}
		<h3>{{ category.grouper }}</h3>
		<table>
			<thead>
				<tr>
					<th>Service</th>
					<th>Amount</th>
					<th>Website</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for recurringpayment in category.list %}
			  <tr>
				<td>{{ recurringpayment }}</td>
				<td>{{ recurringpayment.amount }}</td>
				{% if recurringpayment.url %}
					<td><a href="{{ recurringpayment.url }}" target="_blank">Visit</a></td>
				{% else %}
                    <td></td>
                {% endif %}
				<td><a href="/payments/{{ recurringpayment.pk }}">Edit</a></td>
			  </tr>
			{% endfor %}
			</tbody>
		</table>
		
	{% endfor %}
{% endblock "content" %}