{% extends "subcaptain/base.html" %}

{% block "content" %}

{% if not user.username %}
<p><a href="/accounts/login">Login</a></p>
<p><a href="/accounts/register"><button>Register</button></a></p>
{% else %}
<p><a href="/payments"><button>Go to app</button></a></p>
{% endif %}
    <p><b>Welcome to SubCaptain, a free
        tool for effortlessly tracking your subscriptions and other recurring payments.</b></p>

        <p>Everything is a subscription service these days and the cost of those services adds up really fast. With SubCaptain you can easily see all of your subscriptions, categorized and clearly presented. Keep track of the costs and stay on top of your 
            subscriptions!</p>
{% endblock "content" %}
