{% extends "subcaptain/base.html" %}

{% block "content" %}
	<a href="/categories"><b>Manage categories</b></a></p> 

	<h2>Your Services:</h2>
	<p><a href="/payments/new"><button>Add service</button></a></p>
	<p>Total amount of all services: <b>{{ total_amount|floatformat:2 }}</b></p>
	{% regroup recurringpayment_list by category as grouped_list %}
	{% for category in grouped_list %}
		<h3>{{ category.grouper }}</h3>
		<table>
			<thead>
				<tr>
					<th>Service</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{% for recurringpayment in category.list %}
			  <tr>
				{% if recurringpayment.url %}
					<td><a href="{{ recurringpayment.url }}" target="_blank">{{ recurringpayment }}</a></td>
				{% else %}
                    <td>{{ recurringpayment }}</td>
                {% endif %}
				<td>{{ recurringpayment.amount }}</td>
				<td><a href="/payments/{{ recurringpayment.pk }} ">Edit</a></td>
			  </tr>
			{% endfor %}
			</tbody>
		</table>
        {% for item in category_total %}
            {% if item.category__name ==  category.grouper %}
				<p>Total amount: {{item.total_amount|floatformat:2 }}</p>
			{% endif %}
        {% endfor %}
	{% endfor %}

{% endblock "content" %}